{% extends 'main.html' %}

{% load static %}

{% block content %}
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <b><div class="row mx-auto justify-content-center border: 1px solid red;">YOUR TRAVEL DESTINATION IS {{ dest }}</div></b>
        <div class="image-container row mx-auto justify-content-center" style="width: 100%; height: auto; margin-top: 40px;">
            <img src="{% static dest|add:'.jpg' %}" style="width: 100%; height: 100%; object-fit: contain;">
        </div>
    </div>
{% endblock %}